<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WinPilot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <WinPilot.Properties.Settings>
      <setting name="OpenAIKey" serializeAs="String">
        <value>YOUR_API_KEY_HERE</value>
      </setting>
      <setting name="SelectedModel" serializeAs="String">
        <value>gpt-4o-mini</value>
      </setting>
      <setting name="AutoSendPrompt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HotkeyKey" serializeAs="String">
        <value>W</value>
      </setting>
      <setting name="HotkeyModifiers" serializeAs="String">
        <value>Control|Alt</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>en-US</value>
      </setting>
    </WinPilot.Properties.Settings>
  </userSettings>
</configuration>